
li, ul{
    display:inline;
    list-style-type:none; 
    margin:0;
    padding:0;
    
}
p{
    padding: 0.5;
    color:#f6f7eb;
    text-align:center;
}
*{background-color:#264027;  
   font-family: garamond, sans-serif;
}
div{outline-width:2; outline-color:#50723c; outline-style:solid;}

h1,h2{
    text-align:center;
    color:#f6f7eb;
}

.pagelink{color:#6ccf63; text-align: right; }

a:hover{color:#f6f7eb}

.header{
    display:flex; justify-content: space-around;
}
.logo{
    max-width: .25; max-height: .25; outline-style: groove; outline-color: #50723c;
}
.nav{
outline-style: none; outline-width: 0; 
}
.picture{justify-content: center;}
.dogs{color:#f6f7eb;}
.details{display:list-item;}